#sec-a {
    background-color: #030303;
}

#heading-text {
    font-size: 15px;
    color: #FD6219;
    font-weight: 500;
}

#first-heading {
    color: #ffffff;
    line-height: 1.3;
    font-size: 48px;
}

.card {
    background-color: #111;
    border-radius: 10px;
    transition: all ease 0.5s;
    border: 1px solid #111;
}

.card:hover {
    transform: translate(2px, -8px);
    border: 1px solid #74787C;
}

.card:hover a{
    color: #FD6219;
    transition: all ease 0.5s;
}

.card:hover .icons {
    background-color: #FD6219;
    transition: all ease 0.5s;
}

.icons {
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 100px;
    transition: all ease 0.5s;
}

.heading-links {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.main-text {
    color: #74787C;
}

.card-lists {
    list-style: square;
    color: #74787C;
    font-size: 17px;
    font-weight: 600;
}

#services-link {
    text-decoration: none;
    color: #ffffff;
}

#circle-btn {
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 100px;
    transition: all ease 1s;
    position: relative;
    overflow: hidden;
}

#circle-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FD6219; /* رنگ پس‌زمینه افکت */
    transition: left 1s ease;
}

#circle-btn:hover::before {
    left: 100%; /* حرکت از سمت چپ به داخل */
}

#circle-btn.no-return::before {
    left: 100%; /* رنگ از سمت راست بیرون می‌رود و دیگر به حالت اولیه برنمی‌گردد */
}

#circle-btn:hover {
    color: white; /* تغییر رنگ متن هنگام هاور */
    border-color: #ff6347; /* تغییر رنگ حاشیه هنگام هاور */
}

#services-link:hover {
    color: #FD6219;
}

#brand-title {
    font-size: 20px;
    font-weight: 600;
    color: #030303;
}

.brand-links {
    border: 1px solid #CECECE;
    border-radius: 100px;
    display: inline-block;
    transition: all ease 0.5s;
}

.brand-links:hover {
    border-color: #FD6219;
    transform: translate(0px, -6px);
}

#sec-c {
    background-image: url(../images/service-bg-1-1.webp);
    position: relative;
    display: block;
    background-color: #1b1525;
    padding: 120px 0 90px;
    background-position: center center;
    overflow: hidden;
}
#shape-1 {
    width: 674px;
    height: 650px;
    background-color: #fff;
    opacity: 0.08;
    position: absolute;
    bottom: calc(100% - 325px);
    right: calc(100% - 340px);
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

#shape-2 {
    width: 1146px;
    height: 1104px;
    background-color: #fff;
    opacity: 0.03;
    position: absolute;
    border-radius: 50%;
    bottom: calc(100% - 550px);
    right: calc(100% - 570px);
    mix-blend-mode: luminosity;
}

#top-right-text {
    color: #aea8b9;
    line-height: 30px;
}

#section-title-tagline {
    position: relative;
    display: inline-block;
    color: #6653e8;
    font-size: 16px;
    font-weight: 700;
    padding-left: 16px;
}

#section-title-shape {
    position: absolute;
    top: 95px; 
}

#top-left-text {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
}

.cards {
    border: 1px solid #322d3b;
    background-color: #1b1525;
    transition: all 0.5s ease;
    z-index: 1;
}

.cards:hover {
    background-color: #ffffff;
    transform: translate(1px, -7px);
}

.cards:hover .cards-links {
    color: #030303;
}


.cards-heading {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

.cards-links {
    text-decoration: none;
    color: #ffffff;
}

.cards:hover .cards-links {
    cursor: pointer;
}

.cards-text {
    font-size: 14px;
    color: #aea8b9;
    line-height: 24px;
    transition: all 0.5s ease;
}

#sec-d {
    position: relative;
    background-color: #1b1525;
    z-index: 1;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#overlay1 {
    background-image: url(../images/site-footer-shape-1.webp);
    position: absolute;
    top: 0;
    left: 0;
    height: 388px;
    width: 388px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: #1b1525;
    opacity: .12;
    z-index: -1;
}

#overlay2 {
    background-image: url(../images/site-footer-shape-2.webp);
    position: absolute;
    top: 0;
    right: 0;
    height: 431px;
    width: 531px;
    background-color: #1b1525;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    opacity: .12;
    z-index: -1;
}

#box-content {
    border: 1px solid #322d3b;
}

#left-title-text {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    line-height: 34px;
}

#icon-AI {
    color: #2be4ac;
}

#right-content {
    position: relative;
    display: flex;
    align-items: center;
}

#right-content-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none !important;
    background-color: #6653e8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 40px 14px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}

#right-content-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: all 0.4s ease-in-out 0.1s;
    opacity: 1;
    transform-origin: top;
    transform-style: preserve-3d;
    transform: scaleY(0);
    z-index: -1;
}

.right-content-btn::after {
    background-color: #ffffff;
}

#sec-e {
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#bg-image-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#bgi-1 {
    filter: saturate(0) contrast(110%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#cover1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(40, 50, 79, 0.57);;
}

#cover2 {
    background: #EC281C;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#left-wrapper {
    position: relative;
    z-index: 1;
}

#appointment-text {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 25px;
    color: #ffffff;
    position: relative;
    margin-left: 42px;
}

#left-shape {
    background-color: #ffffff;
    height: 13px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%) skew(-15deg);
}

#left-shape::after {
    background-color: #ffffff;
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    right: -8px;
}

#contact-text {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
}

#left-red-btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 20px 30px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #EC281C;
    text-decoration: none;
}

#left-red-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
    background-color: #191F29;
}

#video-btn {
    background-color: transparent;
    color: #ffffff;
    height: 56px;
    width: 56px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    z-index: 2;
    transition: all 0.6s ease;
}

#video-btn:hover {
    background-color: #ffffff;
    color: #030303;
    transition: all 0.6s ease;
}